.flashcard {
    width: 450px;
    height: 350px;
    perspective: 1000px;
    cursor: pointer;
    margin: 8px;
    margin-left: 550px;
}

.flashcard .front,
.flashcard .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    padding: 10px;
    transition: transform 0.6s;
}

.flashcard .front {
    background: white;
    color: black;
}

.flashcard .back {
    background: #764ba2;
    color: white;
    transform: rotateY(180deg);
}

.flashcard.flipped .front {
    transform: rotateY(180deg);
}

.flashcard.flipped .back {
    transform: rotateY(360deg);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 12px;
    margin-bottom: 40px;
}
